.task{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}


.update-task__text{
    text-decoration: none;
    display:block;
    width:70%;
    height: auto;
    margin-left: 10px;
    word-wrap:break-word;
    text-align: start;
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-color: white;
    border-style: solid;
    
}

.task__text_linethrough{
    text-decoration: line-through;
}

.task__btn{
    background-color: #FF6666;
    color: white;
    border-style: solid;
    border-color: white;
    width: 54px;
    margin-right: 10px;
}

.update-btn{
    margin-left: 10px;
}

.task__checkbox{
    margin-left: 10px;
} 